<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Update Blog</h1>

    <form action="/updateBlog" method="post">
        <input type="hidden" name="id" value="<%= blog._id %>">

        <input name="image" value="<%= blog.image %>"><br><br>
        <input name="title" value="<%= blog.title %>"><br><br>
        <input name="category" value="<%= blog.category %>"><br><br>
        <textarea name="description"><%= blog.description %></textarea><br><br>

        <button type="submit">Update</button>
    </form>
</body>

</html>